<div class="container">

  <div class="row">

    <!-- Two-thirds column for services -->
    <div>
      <h1>Services</h1>
      <h6><%= @services.length %> services available </h6>
      <div class="cards-services">
        <% @services.each do |service| %>
          <%= link_to service_path(service) do %>
            <div class="card my-2 mx-1 border-0" style="width: 18rem;">
              <div class="card-body">
                <% if service.photo.attached? %>
                  <%= cl_image_tag service.photo.key, class: "card-img-top rounded", alt: "Card image cap", style: "width: 290px; height:193px"%>
                <% else %>
                  <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1609220136736-443140cffec6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" alt="Card image cap" class="card-img-top rounded", style:="width: 290px; height:193px">
                <% end %>
                <h6 class="card-title mt-3"><%=service.name.capitalize%></h6>
                <p class="badge text-bg-secondary"><%=service.category%></p>
                <p class="badge text-bg-<%= service.active ? "success" : "light"%>">
                  <%=service.active ? "Available" : "Unavailable"%>
                </p>

              </div>
              <% if service.user.image.attached? %>
                <%= cl_image_tag service.user.image.key, class: "card-trip-user avatar-bordered" %>
              <% else %>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              <% end %>
            </div>
          <% end %>
        <% end %>
      <div>
    </div>

  </div> <!-- End of row -->
</div> <!-- End of container -->
