<div class="container mt-5">
  <h1>New Booking</h1>

  <%= simple_form_for [@service, @booking], local: true do |f| %>
    <%= f.input :start_date, as: :date, label: 'Start Date', input_html: { readonly: true } %>
    <%= f.input :end_date, as: :hidden, input_html: { value: @booking.end_date } %>
    <%= f.button :submit, "Create Booking", class: 'btn btn-primary mt-2' %>
  <% end %>

  <%= link_to 'Back to the Service', service_path(@service), class: 'btn btn-secondary mt-2' %>
</div>
