<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path('family.jpeg') %>);">
  <div class="container">
    <h1>Global Guardians offers <strong>the best parental services</strong> to <strong>people all around the world</strong>!</h1>
    <p>Check out our services to give your children an unique experience.</p>
    <a class="btn btn-gradient" href="/services/index">Start your journey now</a>
    </div>
  </div>
</div>

<div class="container">
  <p></p>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path('HostFamily.jpg') %>)">
    Host Family
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path('Babysitter.jpeg') %>)">
    Babysitter
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path('Playmate.jpeg') %>)">
    Playmate
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path('Advise.jpeg') %>)">
    Advise
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path('Support.jpeg') %>)">
    Emotional Support
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path('Outing.jpeg') %>)">
    Outing
    </div>
  </div>
  <div class="description">
    <h3>Who are we?</h3>
    <p>We are a global platform offering various <strong>parental services</strong>. Either you are individuals who are willing to offer your services, or parents who are seeking resources,
    don't hesitate to sign up and join us!</p>
    <h3>Why us?</h3>
    <p>Are you looking for a reliable host family when your child goes on Erasmus? Do you wish to go on a romantic date night with your partner while having a reliable babysitter at home?
    More playmates for your children?...All your wishes will come true <strong>@Global Guardians</strong>!</p>
    <h3>Our services</h3>
    <p>We have a <strong>strict screening process</strong> for all service providers to ensure the safety and happiness of your children. </p>
  </div>
</div>
